@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: all 200ms ease;
}
:root {
  --primary: rgb(10, 16, 26);
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244 244 244);
  --subtitle: rgb(161 161 170);
  --blue: rgb(56, 97, 251);
  --hover: rgb(20, 69, 247);
  --bg: rgb(6, 9, 14, 0.9);
  --padding: 4rem 1.2rem;
}
body {
  background-color: var(--primary);
}
a {
  cursor: pointer;
}
/* Scroll */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--blue);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
}

.head {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}
@media (max-width: 900px) {
  .home dotlottie-player {
    width: 380px !important;
    height: 380px !important;
  }
  .subscribe-plans .wrong-msg {
    width: 30%;
    height: 5%;
    padding: 0.8rem 0;
  }
  .login-box {
    width: 45%;
  }
  .scroll2Top {
    right: -15%;
  }
}
@media (max-width: 700px) {
  header .nav-bar,
  header .container .header-buttons #theme,
  header .container .header-buttons a {
    display: none;
  }
  header .header-buttons #menu {
    display: block;
  }
  header .login-box {
    width: 70%;
  }
  .home .home-content .title {
    font-size: 2.3rem;
    margin: 1rem 0;
  }
  .home .home-content .sub-title {
    font-size: 1rem;
  }
  .home .animation {
    display: none;
  }
  .prices .price-card {
    width: 30%;
  }
  .prices .price-card .image img {
    max-width: 50px;
  }
  .prices .price-card .price-content h3 {
    font-size: 1.2rem;
  }
  .prices .price-card .price-content p {
    font-size: 1.2rem;
  }
  .subscribe-plans .wrong-msg {
    width: 50%;
    height: 5%;
    padding: 0.8rem 0;
  }
  .subscribe-plans .wrong-msg .msg {
    font-size: 1.2rem;
    margin: 0 0.2rem;
  }
  .testimonials-box .testimonial-card {
    padding: 0.5rem;
    margin: 0 1rem;
  }
  .testimonials-box .testimonial-card img {
    width: 80px;
    height: 80px;
  }
  .footer-box .footer-section .title {
    font-size: 1.2rem;
    display: flex;
  }
  .footer-box .footer-section .title i {
    margin-right: 5px;
  }
  .footer-box .footer-section .sub-title {
    font-size: 0.7rem;
  }
  .footer-box .footer-section h3 {
    font-size: 1.2rem;
  }
  .footer-box .footer-section ul li a {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  .prices .price-card {
    width: 60%;
  }
  .subscribe-plans .subscribe-card {
    width: 80%;
  }
  .testimonials-box .testimonial-card {
    padding: 1rem;
    margin: 0 0.8rem;
  }
}
